@media (max-width:1500px) {
    .footer__img--title{
        font-size: 24px;
    }
    .footer__img--descr{
        width: 70%;
    }
    .organizations__content{
        margin-left: 0;
    }
    .organizations__container{
        flex-direction: column;
    }
    .organizations__content{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .organizations__call--container,.organizations__pay{
        text-align: center;
    }
    .organizations__call{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .organizations__call--wrap{
        flex-direction: column;
    }
    .organizations__call--title{
        margin-top: 30px;
    }
    .organizations__title{
    margin-top: 30px;
    }
    .organizations__title::after{
        background-color: rgba(0, 0, 0, 0);
    }
}
@media (max-width:840px) {
    .organizations__logo{
        border-radius: 50%;
        min-width: 400px;
        min-height: 400px;
    }
    .organizations .organizations__container:nth-child(1) .organizations__logo{
        background-image: url(../images/eduna_volya_logo_adaptive.jpg) !important;
    }
    .organizations .organizations__container:nth-child(2) .container__logo{
        background-image: url(../images/kcvo_logo_adaptive.jpg) !important;
    }
    .organizations .organizations__container:nth-child(3) .organizations__logo{
        background-image: url(../images/ultras_logo_adaptive.jpg) !important;
    }
    .organizations .organizations__container:nth-child(4) .organizations__logo{
        background-image: url(../images/go_kultura_logo_adaptive.jpg) !important;
    }
    .organizations .organizations__container:nth-child(5) .organizations__logo{
        background-image: url(../images/chas_dobra_logo_adaptive.jpg) !important;
    }
    .organizations .organizations__container:nth-child(6) .organizations__logo{
        background-image: url(../images/nova_hvulya_logo_adaptive.jpg)!important;
    }
    .organizations .organizations__container:nth-child(7) .organizations__logo{
        background-image: url(../images/yvs_logo_adaptive.jpg ) !important;
    }
    .footer__img{
        flex-direction: column;
    }
    .footer__img--title::after{
        background-color: rgba(0, 0, 0, 0);
    }
    .footer__img--cont{
        width: 100%;
    }
    .footer__img--info{
        margin: 0;
        text-align: center;
        width: 70%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer__img--descr{
        width: 100%;
    }
    .organizations__links{
        justify-content: center;
    }
}
@media (max-width:530px) {
    .navigation__list{
        width: 60%;
    }
}
@media (max-width:1920px) {
    .footer__img{
        width: 70%;
    }
    .navigation__list{
        justify-content: flex-end;
    }
    .navigation__toggle{
        display: flex;
    }
    .navigation__list--item {
        display: none;
    }
    .banner__title{
        font-size: 30px;
    }
    .banner__subtitle{
        font-size: 12px;
    }
}
@media (max-width:700px) {
    .organizations__title {
        font-size: 24px;
    }
    .organizations__description {
        font-size: 14px;
    }
    .banner__title{
        font-size: 20px;
    }
    .banner__subtitle{
        font-size: 12px;
    }
}
@media (max-width:550px) {
    .organizations__logo{
        min-width: 300px;
        min-height: 300px;
    }
    .banner__title{
        font-size: 20px;
        text-align: center;
        line-height: 30px;
    }
    .banner__subtitle{
        font-size: 12px;
    }
}