.banner{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(https://www.rbc.ua/static/ckef2/img/IMG_2785.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
    background-attachment: fixed;
    min-height: 600px;
    &::before{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
    }
    &__title{
        margin: 20px;
        z-index: 100;
        text-transform: uppercase;
        font-size: 45px;
        letter-spacing: 7px;
        font-weight: 900;
        position: relative;
        color: #fff;
        display: inline-block;
        &::before,&::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            background-color: #fff;
        }
        &::before{
            top: -5px;
        }
        &::after{
            bottom: -5px;
        }
    }
    &__subtitle{
        text-align: center;
        z-index: 100;
        position: relative;
        color: #fff;
        font-size:14px;
    }
    &__controll{
        position: absolute;
        bottom: 5%;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        overflow: hidden;
        height: 50px;
        background-color: unset;
        border: 2px solid #fff;
        border-radius: 50%;
        outline: none;
        & span{
            cursor: pointer;
            font-family: "Raleway", sans-serif !important;
            user-select: none;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            width: 100%;
            height: 100%;
            transition: .3s;
            animation: 1s linear infinite fall;
        }
    }
}

@keyframes fall{
    0%{
        margin-top: -50px;
        opacity: 0.3;
        padding-top:25px;
    }
    50%{
        opacity: 1;
    }
    100%{
        padding-top:25px;
        margin-top: 0;
        opacity: 0;
    }
}