.footer {
  background-color: #fff;
  z-index: 10000;
  &__bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 56, 56);
    color: gray;
    text-align: center;
    padding: 15px 0;
    & a {
      color: #f5f5f5;
      line-height: 30px;
    }
  }
}
