.organizations {
  min-height: 600px;
  background-color: #f5f5f5;
  &__container {
    width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__content {
    margin-left: 50px;
  }
  &__logo {
    min-width: 500px;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    color: #008c3e;
    font-size: 36px;
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 2px;
      background-color: #008c3e;
      left: 100%;
      bottom: 0;
    }
  }
  &__description {
    width: 60%;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  &__links {
    display: flex;
    align-items: center;
    margin-top: 20px;
    &--icon {
      margin: 0 5px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0);
      font-size: 30px;
      width: 36px;
      line-height: 36px;
      height: 36px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__call {
    margin-top: 10px;
    display: flex;
    align-items: center;
    &--wrap {
      display: flex;
      margin-top: 15px;
    }
    &--container {
      cursor: pointer;
      margin-right: 30px;
    }
    &--title {
      text-transform: uppercase;
      margin-top: 10px;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 0.8px;
      color: gray;
    }
    & i {
      font-size: 12px;
      color: gray;
      margin-right: 3px;
    }
    &--numb {
      position: relative;
      font-style: italic;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
      &::before{
        content: 'Скопійовано!';
        background-color: rgba($color: #000000, $alpha: 0.7);
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        position: absolute;
        bottom: 130%;
        opacity: 0;
        transition: .3s;
        z-index: -1;
      }
      &::after{
        content: '';
        z-index: -1;
        bottom: 100%;
        width: 10px;
        transition: .3s;
        height: 10px;
        background: linear-gradient(135deg,rgba(0,0,0,0) 50%,rgba($color: #000000, $alpha: 0.7)50% 100%);
        transform: rotate(45deg);
        position: absolute;
        opacity: 0;
      }
    }
    & .copied{
      &::before,&::after{
        z-index: 100;
        opacity: 1;
      }
    }
  }
  &__pay {
    position: relative;
    margin-top: 20px;
    color: gray;
    &--title {
      margin-bottom: 10px;
      font-weight: 18px;
      font-weight: bold;
    }
    & svg {
      position: absolute;
      cursor: pointer;
      left: -5px;
      transition: 0.3s;
    }
    &--info {
      margin-left: 15px;
      margin-bottom: 10px;
      overflow: hidden;
      height: 15px;
      transition: 0.3s;
      & div{
        color: rgba(0, 0, 0, 0);
        transition: .3s;
      }
    }
    &--bold {
      text-transform: uppercase;
      font-weight: bold;
      color: #008c3e;
    }
    &--bankAccount {
      color: rgba(0, 0, 0, 0);
      line-height: 20px;
      transition: .3s;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
    }
    & .visible {
      height: 60px;
      color: gray;
      & svg {
        transform: rotate(90deg);
      }
      & span{
        color: #000;
      }
      & div{
        color: gray;
      }
    }
  }
}
